  <div class="container-fluid">
  <h1 class="page-header"><i class="fa fa-comments-o" aria-hidden="true"></i> Conversations</h1>
    <div class="row-fluid">
      <h3>{{conversations.entries.data[0].store.name}}</h3>
      <br>
    </div>

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="previous"> <button ng-disabled="currentPage <= 0" ng-click="clickPreviousStoreDetail()">Previous</button>
          </li>
          <li class="next"> <button ng-disabled="currentPage >= conversations.entries.data.length/pageSize - 1" ng-click="clickNextStoreDetail()">Next</button>
          </li>

          <li><a>{{currentPage+1}}/{{(conversations.entries.data.length/pageSize) | roundup}} of {{conversations.entries.data.length}}
              results</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="row-fluid converstaion">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Identifier</th>
          <th>Message</th>
          <th>Started</th>
          <th>Channel</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="conversation in conversations.entries.data" id="{{conversation.user.id}}">
            <td><span ng-click="conversationDetail(conversation.id)"><img src="{{conversation.user.image}}" alt=""/>{{conversation.user.identifier}}</span></td>
            <td></td>
            <td></td>
            <td>{{conversation.channelIcon}}</td>
                <!--<td>
                  <a class="btn btn-link text-limit" href="/web/conversation?id=5982c1fc97387eb8a68a0d42">
                  <img src="https://s3.amazonaws.com/muasir/1488206041_human.png" class="img img-rounded" style="margin-right: 5px" width="30" height="30">
                  5125920917
                  </a>
                </td>
                <td><a class="btn btn-link text-limit" href="/web/conversation?id=5982c1fc97387eb8a68a0d42">
                  <i><b>"Tomorrow at 8 am"</b></i>
                </a>
                </td>
                <td style="padding-top: 15px">Thu, Aug 3  @  11:56 AM</td>
                <td>
                  <i style="margin-right: 5px;" class="fa fa-2x fa-sms" aria-hidden="true" title="SMS"></i>
                </td>-->
              </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
