    <div class="header">
      <h3 class="page-header"><span class="icon icon-chat"></span> Conversations</h3>
      <div class="row-fluid">
        <div>{{conversations.entries.data[0].store.name}}</div>
        <br>
      </div>
    </div>

<div class="conversation">
<table class="table-striped" width="100%">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Message</th>
      <th>Started</th>
      <th>Channel</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="conversation in conversations.entries.data" id="{{conversation.user.id}}" ng-click="conversationDetail(conversation.id)">
      <td><span><img src="{{conversation.user.image}}" alt=""/> {{conversation.user.identifier}}</span></td>
      <td></td>
      <td></td>
      <td>{{conversation.channelIcon}}</td>
    </tr>
  </tbody>
</table>
</div>
