<div class="pane-sm sidebar">
      <ul class="navbar-top-links">
        <li>
          <a class="dropdown-toggle header-avatar" data-toggle="dropdown" href="#">
            <img ng-src="https://api.adorable.io/avatars/80/{{username}}" width="40" height="40" class="img-circle1">
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-caret-down"> {{username}}</i>
          </a>
        </li>
        <li>
          <a ng-click="logout()">Logout
          </a>
        </li>
        <li><hr></li>
        </ul>

      <ul class="store-list navbar-top-links">
        <li><a ng-click="dashboard()">Dashboard</a></li>
        <li><a>Stores</a></li>
        <li><a ng-repeat="store in stores.entries.data" ng-click="getStoreDetailFunction(store.id)" class="store-item"># {{store.name}}
        </a></li>
        <li><a ng-click="dashboard()">Conversation</a></li>
      </ul>
</div>

  <div class="pane">
    <ui-view></ui-view>
  </div>



<!-- /#wrapper -->
