<div class="pane-sm sidebar">
  <nav class="nav-group">
    <h5 class="nav-group-title">User</h5>
    <a class="nav-group-item active">
      <span class="icon icon-user"></span>
        {{username}}
    </a>
    <a class="nav-group-item active"  ng-click="logout()">
      <span class="icon icon-logout"></span>
      Logout
    </a>

    <a class="nav-group-item active" ng-click="dashboard()"><span class="icon icon-home"></span>Dashboard</a>

    <h5 class="nav-group-title">Stores</h5>
    <a class="nav-group-item active" ng-repeat="store in stores.entries.data" ng-click="getStoreDetailFunction(store.id)"><span class="icon icon-comment"></span>{{store.name}}
    </a>
    <a class="nav-group-item active" ng-click="dashboard()"><span class="icon icon-chat"></span> Conversation</a>
  </nav>

</div>

  <div class="pane" id="main-window">
    <ui-view></ui-view>
  </div>

<!-- /#wrapper -->
