<!--<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
        <i class="fa fa-chevron-left fa-2x pull-left" ng-if="projects.pager.prev" ng-click="load(projects.pager.prev)"></i>
        <i class="fa fa-chevron-right fa-2x pull-right" ng-if="projects.pager.next" ng-click="load(projects.pager.next)"></i>
    </div>
</div>
<br>-->
<div class="row">
  <h1 class="page-header"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</h1>
  <div class="col-sm-8"></div>
  <div class="col-sm-4">
    <div class="rowvfluid">
        <h3 class="sub-header">Stores</h3>
        <div class="list-group">
          <a  ng-repeat="store in stores.entries.data" ng-click="getStoreDetailFunction(store.id)" class="list-group-item">
            <h3 class="list-group-item-heading">{{store.name}}</h3>
            <p class="list-group-item-text small">
              <i class="fa fa-envelope" aria-hidden="true"></i> {{store.email}} |
              <i class="fa fa-phone" aria-hidden="true"></i> {{store.phone}}
            </p>
          </a>
        </div>
    </div>
  </div>
</div>
<!--<div class="row">
    <div class="col-lg-12">
        <i class="fa fa-chevron-left fa-2x pull-left" ng-if="projects.pager.prev" ng-click="load(projects.pager.prev)"></i>
        <i class="fa fa-chevron-right fa-2x pull-right" ng-if="projects.pager.next" ng-click="load(projects.pager.next)"></i>
    </div>
</div>
<br>-->
