<div class="container">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <img class="pull-left logo" src="img/blink_ai.png" width="90">
    <h1 class="company-header">Blink AI</h1>
    <h3 class="subheading">Enter your login credentials</h3>
    <span class="clearfix"></span>
    <hr/>
    <form role="form" class="form-horizontal" name="loginForm" ng-submit="!isLoading && loginForm.$valid && login()">
      <div class="form-group form-group-lg">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-9">
          <input type="text" id="inputEmail" name="username" class="form-control dotted" ng-model="auth.login"
                                                             placeholder="Email address" required  autofocus >
        </div>
      </div>
      <div class="form-group form-group-lg">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-9">
          <input type="password" id="inputPassword" name="password" ng-model="auth.password" class="form-control"
                                                                    placeholder="Password" required autofocus>
        </div>
      </div>
      <!-- Change this to a button or input when using this as a form -->
      <loading-spinner loading="isLoading" class="text-center">
        <button type="submit" ng-disabled="!loginForm.$valid" class="btn btn-lg btn-success btn-block">Login</button>
      </loading-spinner>
    </form>
    <br/>
    <div class="row">
      <div class="col-md-6">
        <a class="link" href="register"><h4>Register Now !</h4></a>
      </div>
      <div class="col-md-6 pull-right" style="text-align: right">
        <a class="gray link" href="forgotpassword"><h4>Forgot Password</h4></a>
      </div>
    </div>
  </div>

</div>
<div id="particles"></div>

